## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

## IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## OS
.DS_Store
Thumbs.db

## Tests
TestResults/
*.trx
*.coverage

## NuGet
**/packages/
*.nuget.props
*.nuget.targets
